.verify-registration__container {
  text-align: center;

  .sub-heading {
    width: 80%;
    // margin-left: -5%;
    margin: 0 auto 60px;
  }
  .otp {
    width: 110%;
    margin-left: -5%;
    margin-top: 20px;
  }
  .link {
    margin-top: 20px;
    color: #4a90e2;
    border-color: #4a90e2;
  }
  .register & .buttons__container {
    margin-top: 60px;
  }
}
