.verify-registration__container {
  text-align: center;

  .sub-heading {
    width: 110%;
    margin-left: -5%;
  }
  .otp {
    width: 110%;
    margin-left: -5%;
    margin-top: 20px;
  }
  .link {
    margin-top: 20px;
  }
}
