.gift-card-purchase__content__main {
  &.payment-main {
    max-width: none;
  }
  .payment {
    width: 896px;
    @media only screen and (max-width: 1366px) {
      width: 700px;
    }
    @media only screen and (max-width: 1028px) {
      width: 600px;
    }
    @media only screen and (max-width: 928px) {
      width: 500px;
    }
    @media only screen and (max-width: 828px) {
      width: 400px;
    }
    @media only screen and (max-width: 728px) {
      width: 300px;
    }
    @media only screen and (max-width: 660px) {
      width: 100%;
      padding: 0;
    }
    &-content {
      border-radius: 0;
      box-shadow: none;
    }
  }
  .payment-card {
    @media only screen and (max-width: 830px) {
      & > img {
        margin: 0 10px;
      }
    }
    &--lean > p {
      @media only screen and (max-width: 600px) {
        margin: 0 10px;
      }
      @media only screen and (max-width: 350px) {
        margin: 0;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 42px 20px;
      @media only screen and (max-width: 400px) {
        padding: 42px 10px;
      }
    }
  }
}
