.create-new-company {
    padding: 10px 0px;
}

.create-new-company > h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.create-new-company > h3::after {
    display: block;
    content: "";
    width: 80%;
    margin: 15px auto 0px auto;
    height: 2px;
    background-color: #aaa5;
}
/* ==============================
             FORM
================================*/
.create-new-company__form {
    padding: 0px 20px;
}

.create-new-company__form > div {
    margin-top: 10px;
}

.create-new-company__form > button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 3px 35px;
    font-size: 20px;
    color: var(--primary);
    border-color: var(--primary);
}

.create-new-company__form > button:hover {
    border-color: var(--primary);
    background-color: #0501;
}
