@import '../../styles/variables.scss';
.my-payments {
  background-color: #f5f7fa;
  padding-top: $navbar-height;
  &-header {
    position: relative;
    margin-top: 41.8px;
    & > h1 {
      text-align: center;
    }
    &--back {
      position: absolute;
      top: 50%;
      left: 135px;
      transform: translate(-50%, -50%);
      color: #4a90e2;
      & > span {
        font-weight: normal;
        margin-left: 16px;
      }
    }
  }
  .results-table {
    .MuiTableCell-root {
      border-bottom: none;
    }
  }
}

.pagination-container {
  .MuiPaginationItem-outlined {
  }

  & .MuiPagination-ul li:not(:first-child):not(:last-child) > button {
    border: none;
    // background: red;
  }

  & .MuiPagination-ul li:first-child .MuiPaginationItem-root,
  & .MuiPagination-ul li:last-child .MuiPaginationItem-root {
    // width: 47px;
    padding: 0 12px;
  }

  & .MuiPaginationItem-page.Mui-selected {
    background: #637381;
    color: white;
    font-weight: normal;
  }
  & .MuiPaginationItem-page.Mui-selected:hover,
  .MuiPaginationItem-page.Mui-selected.Mui-focusVisible {
    background: #505d69;
  }

  .MuiTablePagination-input {
    display: none;
  }
  .MuiTablePagination-root {
    border: none;
  }
  .MuiTypography-body2 {
    font-size: 1rem;
    user-select: none;
  }
}
