.last-payment-card {
  position: relative;
  color: #222;
  background-color: #fff;
  height: 200px;
  width: 295px;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  padding: 30px 20px;
  &--title,
  &--date,
  &--amount {
    font-size: 16px;
    font-weight: 500;
  }
  &--amount {
    display: inline-block;
  }
  &--date-and-amount__container {
    display: flex;
    justify-content: space-between;

    margin: 17px auto 23px auto;
  }
  &--beneficiary {
    &__heading {
      font-size: 14px;
      font-weight: 500;
      color: #4a4a4a;
    }
    &__content {
      font-size: 15px;
      font-weight: 500;
    }
  }
  &--right-arrow {
    position: absolute;
    right: 11px;
    bottom: 16px;
    cursor: pointer;
  }
  &--type-of-service {
    position: absolute;
    right: 14px;
    top: 13px;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 9.5px;
  }
}

.last-payment-carousel--arrows {
  font-size: 32px;
  font-weight: 500;
}
