.company-overview {
    width: 65%;
    margin: 0 auto;
    min-width: 600px;
}

.company-overview > * {
    margin: 40px 0;
}

.company-overview > div:nth-child(2) > div > div {
    margin: 20px 0;
}
