@import '../../styles/variables.scss';
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  width: 96%;
  margin: 0 auto;

  &--container {
    width: 100%;
    /* max-width: 1440px; */
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 6px -6px black;
  }
  &--logo {
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 50%;
    min-width: fit-content;
  }

  &--links {
    &-container {
      width: 300px;
      height: 25px;
      display: flex;
      justify-content: space-around;
      margin-right: 30px;
    }

    &:hover {
      cursor: pointer;
      &::after {
        content: '';
        display: block;
        background-color: #28ddcb;
        height: 2px;
        width: 100%;
      }
    }
  }
  &--buttons {
    & > a {
      text-decoration: none;
    }
    & > button:nth-of-type(1) {
      margin-right: 10px;
    }
  }

  &--user-icon {
    color: #1a315b;
    cursor: pointer;
    text-shadow: 0 2px rgba(158, 158, 158, 1);
    height: 42px;
  }
}

.logged-in-user-menu {
  position: absolute;
  right: 20px;
  top: $navbar-height;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 10px 24px;
  span {
    cursor: pointer;
    display: block;
    color: #1a315b;
    padding: 10px;
    &:hover {
      color: #4a90e2;
    }
  }
}
