.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 96%;
  margin: 0 auto;

  &--container {
    width: 100%;
    background-color: #ffffff;

    box-shadow: 0 2px 6px -6px black;
  }
  &--logo {
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
  }

  &--links {
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    &:nth-of-type(1) {
      margin-right: 20px;
    }
  }
  &--buttons {
    & > a {
      text-decoration: none;
    }
    & > button:nth-of-type(1) {
      margin-right: 10px;
    }
  }
}
