.login-form__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 50px 30px 50px;
    width: 40%;
    border-radius: 6px;
    background-color: var(--card-background-color);
    box-shadow: 5px 10px 26px #0003, -2px -2px 26px #0003;
}

.login-form {
    margin: 0 auto;
}

.login-form>div {
    padding: 16px 0;
}

.login-form>button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px 20px;
    font-size: 20px;
    color: var(--primary);
    border-color: var(--primary);
}

.login-form>button:hover {
    border-color: var(--primary);
    background-color: #0501;
}

.login-form .MuiFormLabel-root,
.login-form .MuiInputBase-input {
    font-size: 20px;
}