.terms-and-conditions__container {
  /* padding: 20px; */
  /* line-height: 1.2; */
  font-weight: 500;
}

.terms-and-conditions__content {
  padding: 180px 90px 50px;
  line-height: 1.8;

  @media only screen and (max-width: 900px) {
    padding: 180px 50px 50px;
  }
  @media only screen and (max-width: 500px) {
    padding: 100px 30px 50px;
  }
}

.terms-and-conditions__content > ol {
  /* font-weight: bold; */
  margin-left: 16px;
}

.terms-and-conditions__content > ol > li::marker {
  font-weight: bold;
}

.terms-and-conditions__content > ol > li > p {
  margin-left: -16px;
}

.terms-and-conditions__content > ol > li {
  margin-bottom: 1.2rem;
}

.terms-and-conditions__content a {
  text-decoration: underline;
  color: #2997ff;
}

.terms-and-conditions__content ol li ol {
  counter-reset: item;
  list-style-type: none;
  margin-left: -16px;
}

.terms-and-conditions__content ol li ol li:before {
  counter-increment: item;
  font-weight: bold;
}

.terms-and-conditions__content > ol > li > ol > li {
  margin-bottom: 16px;
}

.terms-and-conditions__content > ol > li > ol > li:before {
  content: attr(data-base-index) '.' counters(item, '.') ' ';
}
.terms-and-conditions__content ol li .nested {
  margin-left: 16px;
}

.terms-and-conditions__content ol li ul.nested {
  list-style-type: disc;
}

.terms-and-conditions__content ol li ol.nested {
  list-style-type: lower-roman;
}

.terms-and-conditions__table {
  width: 400px;

  @media only screen and (max-width: 500px) {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
  }
}
.terms-and-conditions__table thead,
.terms-and-conditions__table tbody {
  padding: 20px;
  text-align: center;
  @media only screen and (max-width: 500px) {
    display: block;
    padding: 0;
  }
}

.terms-and-conditions__table thead {
  background-color: lightgrey;
  @media only screen and (max-width: 500px) {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.terms-and-conditions__table tbody {
  @media only screen and (max-width: 500px) {
    display: block;
  }
}

.terms-and-conditions__table tr {
  @media only screen and (max-width: 500px) {
    display: block;
    // border: 1px solid #ccc;
  }
}
.terms-and-conditions__table td {
  @media only screen and (max-width: 500px) {
    background-color: whitesmoke;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: 6px;
    // left: 6px;
    // width: 45%;
    // padding-right: 10px;
    white-space: nowrap;
    // margin: 6px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #ccc;
    }
    font-size: 12px;

    &:before {
      content: attr(data-label);
      text-align: left;
      width: 60%;
      white-space: normal;
      font-size: 12px;
    }
  }
}
