form {
  .MuiFormControl-root {
    margin-bottom: 10px;
  }

  .tooltip.password-tooltip {
    display: none;
  }
  .password-label .MuiSvgIcon-root {
    transform: scale(1.2);
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .country-code-and-number {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .country-code {
    width: 60%;
    margin-top: 10px;
    min-width: 100px;
  }

  .phone-number {
    width: 100%;
    margin-left: 10px;
  }
}
