@import '../../styles/variables.scss';
.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $layout-body-background;
  max-width: 1320px;
  margin: auto;
  .page-content {
    flex: 1;
  }
}
