@import '../../styles/variables.scss';
.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $layout-body-background;
  max-width: 1440px;
  margin: 0 auto;
  /* padding-top: 80px; */
  .page-content {
    flex: 1;
  }
}

footer {
  margin-top: -55px;
  margin-left: 25px;
  position: absolute;

  a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000;
  }
}
